<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <title>{% block title %}{% if title %}{{ title }}{% else %} flask app{% endif %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"href="{{ url_for('main_page') }}">محصولات</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          دسته بندی ها
        </a>
        <!-- categories dropdown -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for i in category %}
          <a class="dropdown-item" href="{{ url_for('filter_by_category', category_id=i.id) }}">{{i.name}}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">همه محصولات</a>
        </div>
      </li>
      <li class="nav-item active">
        {% if current_user.role == 'Admin' %}
        <a class="nav-link" href="{{ url_for('add_product') }}">محصول جدید</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('manage_products') }}">مدیریت محصولات</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('orders_list') }}">سفارشات</a>
      </li>
    </ul>
    {% endif %}
  </div>
  {% if current_user.is_authenticated %}
  <ul class="navbar-nav">
      <li class="nav-item active" >
      <a  class="nav-link" href="{{ url_for('show_cart')}}">
        <i class="material-icons">&#xe547;</i>
        <label class="cart-number-label"> {{current_user.cart | length }}</label></a>
      </li>
      <li class="nav-item active">
        <a style="background-color: #e02926;border-radius:8px;font-size:13px;padding:9px;vertical-align:center;" class="nav-link" href="{{ url_for('logout') }}">خروج </a>
    {% else %}
      </li>
  </ul>
    <a style="background-color:#00c73c;border-radius:8px;font-size:14px;padding:8px;vertical-align:center;color:white;text-decoration: none;" href="{{ url_for('login') }}">حساب کاربری</a>
  {% endif %}
</nav>

<section style="margin-top: 30px;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}" style="text-align: center;font-size: large;" role="banner">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  {% endwith %}
</section>
</body>

</html>
