{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;">
    مبلغ قابل پرداخت :‌
    {{o.total}}
    <a href="{{url_for('payment_gateway', name='پرداخت')}}" class="btn btn-primary" >پرداخت</a>
    <a href="{{url_for('payment_gateway', name='انصراف')}}" class="btn btn-primary" >انصراف</a>
</div>
{% endblock %}