{% extends 'base.html' %}
<div class="container" >
{% block content %}
<body style="background: #f0f2f5;text-align:right;" >
{% if all_products %}
<div class="filter-buttons">
  <form method="get">
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('filter_by_property', filter_name='محبوبترین')}}">محبوبترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('filter_by_property', filter_name='پرفروشترین')}}">پرفروشترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('filter_by_property', filter_name='گرانترین')}}">گرانترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('filter_by_property', filter_name='ارزانترین')}}">ارزانترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('filter_by_property', filter_name='جدیدترین')}}">جدیدترین
    </button>
  </form>
</div>
{% for p in all_products.items %}
<div class="card" style="width: 18rem;margin-bottom:10px;">
  <img class="img-card" src="{{ url_for('static', filename=p.photo)}}">
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    {% if p.inventory == 0 %}
   <b> <p style="color:#e02926;">موجود نیست</p></b>
    {% else %}
    {% if not p.discounted %}
    <!-- regular price -->
    <p style="color:#e02926;"><b> {{'{0:,}'.format(p.price|int)}} تومان</b></p>
    {% else %}
    <!-- discounted price -->
    <p style="color:#e02926;"><b>{{'{0:,}'.format(p.discounted|int)}} تومان</b></p>
    {% endif %}
    {% endif %}
    <!-- add to cart icon -->
    <a style="padding: 3px;" href="{{url_for('cart', id=p.id)}}" class="btn btn-primary">
      <i style="padding: 5px;" class="material-icons">&#xe854;</i></a>
    <!-- details button -->
    <a href="{{url_for('product_detail', product_id=p.id)}}" class="btn btn-primary" style="padding: 9px;">مشاهده</a>
  </div>
</div>
{% endfor %}
{% endif %}
</body>
</div>
<div style="text-align:center;direction:ltr;margin-top:20px;margin-bottom:20px;">
{% for page_num in all_products.iter_pages() %}
    {% if page_num %}
      {% if all_products.page == page_num %}
        <a class="btn btn-primary" href="{{ url_for('main_page', page=page_num) }}" >{{page_num}}</a>
      {% else %}
        <a class="btn btn-outline-primary" href="{{ url_for('main_page', page=page_num) }}">{{page_num}}</a>
      {% endif %}
    {% else %}
    {% endif %}
{% endfor %}
</div>

{% endblock %}



